<mat-toolbar class="app-toolbar" color="primary">
  Gestor de Documentación
  <span class="example-spacer"></span>
  <button (click)="nuevoRegistro()" mat-raised-button color="primary">
    Nuevo registro
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>
<div style="width: 100%; margin-top: 64px; z-index: 998; position: fixed; top: 0; background-color: #fafafa; padding: 0.5em;">
  <div style="width: 97%; margin: auto;">
    <div style="width: 90%; margin: auto;">

      <mat-form-field style="width: 20%; margin-right: 2%;">
        <mat-label>Buscar por Titulo</mat-label>
        <!-- <input matInput (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('pregunta')" placeholder="Ex. ium"> -->
        <input matInput [(formControl)]="tituloFilter" placeholder="Ingrese titulo">
      </mat-form-field>

      <mat-form-field style="width: 20%; margin-right: 2%;">
        <mat-label>Buscar por Pregunta</mat-label>
        <!-- <input matInput (keyup)="applyFilter($event.target.value)" (focus)="setupFilter('pregunta')" placeholder="Ex. ium"> -->
        <input matInput [(formControl)]="preguntaFilter" placeholder="Ingrese pregunta">
      </mat-form-field>

      <mat-form-field style="width: 20%; margin-right: 2%;">
        <mat-label>Buscar por palabras claves</mat-label>
        <input matInput [(formControl)]="palabraFilter" placeholder="Ingrese palabras claves">
      </mat-form-field>

      <mat-form-field style="width: 20%; margin-right: 2%;">
        <mat-label>Buscar por Texto</mat-label>
        <input matInput [(formControl)]="textoFilter" placeholder="Ingrese texto">
      </mat-form-field>

      <!-- <button mat-flat-button [disabled]="filtro.length !== 0" style="margin-right: 3%;" color="primary">Buscar</button> -->
      <button mat-flat-button style="width: 12%;" (click)="borrar()" color="warn">Borrar filtro</button>
    </div>
  </div>
</div>

<div style="width: 100%; margin-top: 145px;">
  <mat-spinner *ngIf="cargando" style="margin: auto;"></mat-spinner>

  <table *ngIf="!cargando"  mat-table [dataSource]="dataSource" style="width: 97%; margin: auto;" class="mat-elevation-z8">

    <!-- Position Column 'titulo', 'subtitulo', 'pregunta', 'observaciones' -->
    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo2">
      <th mat-header-cell *matHeaderCellDef> Titulo 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo2}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="titulo3">
      <th mat-header-cell *matHeaderCellDef> Titulo 3 </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo2}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="pregunta">
      <th mat-header-cell *matHeaderCellDef> Pregunta </th>
      <td mat-cell *matCellDef="let element"> {{element.pregunta}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="observaciones">
      <th mat-header-cell *matHeaderCellDef> Observaciones </th>
      <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
    </ng-container>


    <ng-container matColumnDef="palabrasClaves">
      <th mat-header-cell *matHeaderCellDef> Palabras Claves </th>
      <td mat-cell *matCellDef="let element"> {{element.palabrasClaves}} </td>
    </ng-container>

    <ng-container matColumnDef="star" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editar(element); $event.stopPropagation();" mat-icon-button aria-label="Editar">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row class="row" style="height: 80px;" (click)="ver(row); $event.stopPropagation()" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<style>
  .example-spacer {
    flex: 1 1 auto;
  }

  .row:hover {
    background: whitesmoke;
  }

</style>
